@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
body .request-call, body .send-button, body .__header .navbar #main-menu .services-menu, body .__header .navbar #main-menu #services-menu .relocation, body .__header .navbar #main-menu #services-menu .loaders, body .__header .navbar #main-menu #services-menu .carrier, body .__header .navbar #main-menu #services-menu .rigging, body .__header .navbar #main-menu #services-menu .storage, body .__header .navbar #main-menu #services-menu .packaging, body .__header .navbar #main-menu .reviews, body .header-main-theme .current-city, body .__header .navbar .burger-menu img, body .__header .navbar #main-menu .nav-item, body .__footer .top-footer .social .col {
  -webkit-transition: all .5s;
  transition: all .5s; }

body .__footer .top-footer .gradient, body .header-main-theme .gradient {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .1;
  background: -webkit-gradient(linear, left bottom, left top, from(#50b0ff), to(#80a1ff));
  background: linear-gradient(to top, #50b0ff 0%, #80a1ff 100%); }

body .__footer .bottom-footer .gradient {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#232733), color-stop(50%, #21242c), to(#202024));
  background: linear-gradient(to top, #232733 0%, #21242c 50%, #202024 100%); }

body .send-button:hover, body .request-call:hover {
  background-color: #18ceff; }

body .request-call, body .send-button {
  padding: 12px 24px;
  background-color: #00b5ff;
  color: #fff;
  border: none;
  border-bottom: 3px solid #1f78a0; }

body .request-call {
  position: absolute;
  margin-left: 50%; }

body .__header .navbar #main-menu .services-menu, body .__header .navbar #main-menu #services-menu .relocation, body .__header .navbar #main-menu #services-menu .loaders, body .__header .navbar #main-menu #services-menu .carrier, body .__header .navbar #main-menu #services-menu .rigging, body .__header .navbar #main-menu #services-menu .storage, body .__header .navbar #main-menu #services-menu .packaging, body .__header .navbar #main-menu .reviews, body .header-main-theme .current-city {
  padding: 0;
  border: 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0; }

body .__header .navbar #main-menu #services-menu #relocation .nav-link, body .__header .navbar #main-menu #services-menu #loaders .nav-link, body .__header .navbar #main-menu #services-menu #carrier .nav-link, body .__header .navbar #main-menu #services-menu #rigging .nav-link, body .__header .navbar #main-menu #services-menu #storage .nav-link, body .__header .navbar #main-menu #services-menu #packaging .nav-link {
  font-size: .75rem;
  color: #00b5ff;
  background-color: #fff; }

body .js-long-text .js-podrobno {
  font-size: .875rem;
  color: #00b5ff;
  background-color: transparent;
  border: 0; }

body .__header .navbar #main-menu #services-menu .nav-link:hover, body .__header .navbar #main-menu #services-menu #relocation .nav-link:hover, body .__header .navbar #main-menu #services-menu #loaders .nav-link:hover, body .__header .navbar #main-menu #services-menu #carrier .nav-link:hover, body .__header .navbar #main-menu #services-menu #rigging .nav-link:hover, body .__header .navbar #main-menu #services-menu #storage .nav-link:hover, body .__header .navbar #main-menu #services-menu #packaging .nav-link:hover {
  background-color: #e2e2e2; }

body a, body a:hover {
  color: #00b5ff; }

body h5 {
  color: #00b5ff;
  font-size: 1.125rem;
  font-weight: 700; }

body .apartment .carousel, body .video .carousel, body .person-page .person-page-call {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }
  body .__header {
    padding: 0; }
    body .__header .navbar {
      padding: 0; }
      body .__header .navbar ._24-hours {
        height: 36px;
        margin-right: 5px; }
      body .__header .navbar .burger-menu {
        padding: 0;
        border-color: transparent;
        outline: none; }
        body .__header .navbar .burger-menu img {
          padding-top: 8px; }
        body .__header .navbar .burger-menu img:hover {
          opacity: .7; }
      body .__header .navbar #main-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 73px;
        z-index: 2; }
        body .__header .navbar #main-menu .nav-item {
          background-color: #00b5ff; }
          body .__header .navbar #main-menu .nav-item .nav-link {
            color: #fff; }
        body .__header .navbar #main-menu .nav-item:hover {
          background-color: #21759b; }
        body .__header .navbar #main-menu #services-menu .nav-link {
          color: #ff6c09;
          background-color: #fff; }
        body .__header .navbar #main-menu #reviews .nav-link {
          color: #ff6c09;
          background-color: #fff; }
  body .__footer .top-footer {
    height: 505px;
    position: relative; }
    body .__footer .top-footer .request-call {
      top: 330px;
      left: -94px; }
    body .__footer .top-footer .elephant {
      position: absolute;
      z-index: -1;
      margin-left: 50%;
      left: -178.5px;
      top: 95px; }
    body .__footer .top-footer .amount-shipping {
      text-align: center;
      font-size: 1.125rem;
      font-weight: 800;
      padding-top: 30px; }
      body .__footer .top-footer .amount-shipping .blue-text {
        color: #227aa2; }
    body .__footer .top-footer .enjoy {
      text-align: center;
      margin-top: 335px; }
    body .__footer .top-footer .social {
      width: 265px;
      margin-top: 13px; }
      body .__footer .top-footer .social .col {
        padding: 0;
        text-align: center; }
      body .__footer .top-footer .social .col:hover {
        opacity: .8; }
  body .__footer .bottom-footer {
    position: relative; }
    body .__footer .bottom-footer .container .row a {
      color: #fff;
      padding-top: 8px;
      padding-bottom: 8px; }
    body .__footer .bottom-footer .container .footer-pages {
      padding-top: 30px;
      padding-bottom: 20px; }
      body .__footer .bottom-footer .container .footer-pages a {
        font-size: 1.125rem; }
    body .__footer .bottom-footer .container .footer-documents {
      padding-bottom: 10px; }
      body .__footer .bottom-footer .container .footer-documents a {
        text-decoration: underline;
        font-size: .875rem; }
      body .__footer .bottom-footer .container .footer-documents .bottom-footer-phone {
        text-decoration: none;
        font-size: 1.5rem; }
  body .header-main-theme {
    height: 505px;
    position: relative;
    padding-top: 15px; }
    body .header-main-theme > img {
      position: absolute;
      z-index: -1; }
    body .header-main-theme .sofa, body .header-main-theme .wall-picture {
      bottom: 0;
      left: 50%;
      margin-left: -158.5px;
      z-index: -3; }
    body .header-main-theme .man {
      bottom: 0;
      left: 50%;
      margin-left: -105.5px; }
    body .header-main-theme .left-bush {
      margin: auto;
      top: 115px;
      left: 0; }
    body .header-main-theme .right-bush {
      margin: auto;
      top: -10px;
      right: 0; }
    body .header-main-theme .phone {
      font-size: .875rem;
      margin-left: 15px;
      color: #000; }
    body .header-main-theme .phone:hover {
      text-decoration: none;
      color: #000; }
    body .header-main-theme .navbar {
      width: 150px; }
    body .header-main-theme .current-city .nav-link {
      padding: 0 0 10px 10px;
      font-size: .875rem;
      display: inline-block;
      color: #00b5ff;
      margin-right: 5px; }
    body .header-main-theme .current-city img {
      display: inline-block; }
    body .header-main-theme #current-city {
      position: absolute;
      top: 33px;
      width: 150px;
      z-index: 1; }
      body .header-main-theme #current-city .nav-link {
        color: #00b5ff;
        background-color: #fff;
        font-size: .875rem;
        padding-left: 10px; }
      body .header-main-theme #current-city .nav-link:hover {
        text-decoration: underline; }
    body .header-main-theme h1 {
      text-align: center;
      color: #1f78a0;
      line-height: 1;
      font-weight: 600;
      margin-top: 15px; }
    body .header-main-theme .urgent-call {
      text-align: center;
      margin-top: 15px;
      font-size: 1.125rem;
      font-weight: 400; }
    body .header-main-theme .request-call {
      top: 200px;
      margin-top: 10px;
      left: -92px; }
  body ._header-3 {
    font-size: 2.25rem;
    margin-top: 50px; }
  body ._header-6 {
    font-size: 1.5rem;
    margin-top: 20px; }
  body .important {
    color: #21759b; }
  body .important-text-blue1 {
    color: #21759b;
    font-size: 1.5rem; }
  body .red-bold {
    color: #ff0000;
    font-weight: 600; }
  body .big-red {
    color: #ff0000;
    font-weight: 600;
    font-size: 2.25rem; }
  body .wrap-benefits .benefit {
    margin-top: 25px;
    max-width: 390px; }
    body .wrap-benefits .benefit .h-hint {
      font-size: 1.25rem;
      font-weight: 800; }
    body .wrap-benefits .benefit .blue-ancor {
      font-weight: 700; }
    body .wrap-benefits .benefit img {
      height: 125px; }
  body .js-long-text.show-all {
    max-height: none; }
  body .js-long-text .js-podrobno {
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none; }
  body .paragraph {
    padding: 50px 20px 0;
    margin-bottom: 0;
    max-height: 290px;
    overflow: hidden; }
  body .bd-example {
    margin-top: 25px; }
    body .bd-example .carousel .carousel-inner img {
      max-width: 250px; }
    body .bd-example .carousel .carousel-inner .carousel-caption {
      padding: 20px;
      color: #000;
      position: relative;
      right: auto;
      bottom: auto;
      left: auto;
      display: block !important; }
    body .bd-example .carousel ._carousel-control {
      top: 45px;
      bottom: auto;
      width: 100px;
      opacity: 1; }
    body .bd-example .carousel ._carousel-control:hover {
      opacity: .7; }
  body .discount-block {
    padding-bottom: 35px;
    height: auto;
    position: relative;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    margin: 90px 15px 0 15px;
    width: auto; }
    body .discount-block ._header-6 {
      margin-top: 80px; }
    body .discount-block .rullon {
      position: absolute;
      left: 0;
      right: 0;
      top: -85px; }
    body .discount-block .request-call {
      position: relative;
      top: auto;
      left: auto; }
  body .additional-info2 {
    font-size: 1.125rem; }
  body .apartment .carousel, body .video .carousel {
    margin: 0 15px;
    padding: 35px 0; }
  body .apartment .carousel-caption h5, body .video .carousel-caption h5 {
    color: #000; }
  body .apartment img, body .video img {
    max-height: 120px; }
  body .apartment .gray-price, body .video .gray-price {
    color: #a1a1a1;
    font-size: 1.125rem; }
  body .apartment .big-price, body .video .big-price {
    font-size: 2.25rem; }
  body .apartment .carousel-indicators, body .video .carousel-indicators {
    top: 245px;
    bottom: auto; }
    body .apartment .carousel-indicators li, body .video .carousel-indicators li {
      bottom: auto;
      width: 8px;
      height: 8px;
      margin-right: 4px;
      margin-left: 4px;
      border-radius: 50%;
      background-color: #808080; }
    body .apartment .carousel-indicators .active, body .video .carousel-indicators .active {
      background-color: #00b5ff; }
  body .apartment .important-text-blue1, body .video .important-text-blue1 {
    margin-bottom: 20px; }
  body .apartment .request-call, body .video .request-call {
    position: relative; }
  body .additional-info1 {
    font-size: .875rem;
    font-style: italic;
    margin-top: 20px; }
  body .video {
    margin-top: 35px; }
    body .video .carousel {
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-top: 0; }
    body .video .carousel-indicators {
      top: 355px; }
    body .video ._header-3 {
      margin-bottom: 15px; }
    body .video .paragraph {
      padding: 10px 0 0; }
    body .video .modal-body {
      height: 350px; }
    body .video .preview {
      position: relative;
      margin-bottom: 55px; }
      body .video .preview .preview-picture {
        max-height: none;
        max-width: none !important;
        height: 205px;
        width: 330px; }
      body .video .preview .request-call {
        padding: 0;
        background-color: transparent;
        border-bottom: none;
        cursor: pointer;
        height: 64px;
        width: 64px;
        position: absolute; }
    body .video .author {
      font-size: 1.125rem;
      font-weight: 600; }
  body .person-page {
    position: relative; }
    body .person-page .person-page-price {
      height: 380px;
      position: relative; }
      body .person-page .person-page-price .left-bush {
        top: 95px; }
      body .person-page .person-page-price .right-bush {
        top: 40px; }
      body .person-page .person-page-price .wall-picture {
        top: 30px;
        margin-left: -113.5px; }
      body .person-page .person-page-price .sofa {
        margin-left: -177px; }
    body .person-page .person-page-call {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      margin: -80px 10px 10px;
      background-color: #fff;
      padding: 25px;
      border-radius: 5px; }
      body .person-page .person-page-call .man {
        position: absolute;
        right: 0;
        left: 0;
        top: -210px; }
      body .person-page .person-page-call ._header-6 {
        margin-top: 0; }
      body .person-page .person-page-call .additional-info2 a {
        font-size: 1.5rem; }
      body .person-page .person-page-call .additional-info2 a:hover {
        text-decoration: none;
        color: #ff0000; }
  body table {
    border: 1px solid #55CEFF;
    font-size: 12px;
    color: black;
    line-height: 2;
    margin: 0 0 2px;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0; }
    body table td {
      text-align: center;
      padding: 2px 5px 0 5px;
      border: 1px solid #55CEFF;
      height: 18px; }
    body table .tariff-title {
      background-color: #00b5ff;
      height: 30px; }
  body .calculator-box #wrapper {
    overflow: hidden;
    width: 100%; }
  body .calculator-box .calculator .col {
    position: relative;
    float: left;
    margin: 0;
    display: block; }
  body .calculator-box .calculator .col1 {
    width: 100%;
    margin-right: 47px;
    border: solid 1px #00b5ff;
    font: 12px Verdana, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body .calculator-box .calculator .col2 {
    width: 100%;
    border: solid 1px #00b5ff;
    font: 12px Verdana, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
    body .calculator-box .calculator .col2 a {
      color: #FFF; }
  body .calculator-box .calculator .col3 {
    width: 100%;
    border: solid 1px #00b5ff;
    font: 12px Verdana, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
    body .calculator-box .calculator .col3 .titol {
      margin-bottom: 11px; }
  body .calculator-box .calculator .col5 {
    width: 100%;
    border: solid 1px #00b5ff;
    font: 12px Verdana, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
  body .calculator-box .titol {
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
    margin: 0 0 17px;
    color: white;
    background: #00b5ff;
    width: 100%;
    height: 44px; }
  body .calculator-box label {
    display: block;
    margin: 0 0 12px;
    margin-right: 0;
    margin-left: 0; }
    body .calculator-box label b {
      margin-right: 4px;
      color: #333333; }
  body .calculator-box select {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
    padding: 6px; }
  body .calculator-box .avto-cont {
    position: absolute;
    left: 480px;
    top: 50px; }
  body .calculator-box .inp-incr {
    margin-right: 20px;
    position: relative;
    display: inline-block; }
    body .calculator-box .inp-incr .up {
      border: 0;
      display: block;
      width: 13px;
      height: 13px;
      position: absolute;
      right: -20px;
      background: url("/images/calc/inp-arrs.gif") no-repeat 0% 0%;
      background-position: -13px -13px;
      top: 0; }
      body .calculator-box .inp-incr .up:hover {
        background-position: -13px 0; }
    body .calculator-box .inp-incr .down {
      top: 15px;
      border: 0;
      display: block;
      width: 13px;
      height: 13px;
      position: absolute;
      right: -20px;
      background: url("/images/calc/inp-arrs.gif") no-repeat 0% 0%;
      background-position: 0 -13px; }
      body .calculator-box .inp-incr .down:hover {
        background-position: 0 0; }
  body .calculator-box .inp-txt {
    height: 26px;
    padding: 0 10px 0 10px;
    line-height: 26px;
    border: 1px solid #c3c4c4;
    color: #717171;
    background-color: #fff;
    -o-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.07) inset, 2px 3px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.07) inset, 2px 3px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.07) inset, 2px 3px 0px rgba(0, 0, 0, 0.05);
    outline: none;
    vertical-align: middle; }
  body .calculator-box div {
    padding: 0; }
  body .calculator-box .big-price {
    color: #272727;
    font: 24px/24px Tahoma, sans-serif !important;
    margin: 0 0 10px; }
  body .calculator-box p {
    font-family: arial;
    font-size: 13px;
    padding: 0;
    line-height: 18px;
    color: #272727;
    margin: 0 5px 10px 0; }
  body .calculator-box td {
    font-weight: normal;
    text-align: left;
    border: none; }
  body .calculator-box a:hover {
    cursor: pointer; }
  body .calculator-box #man_count {
    -webkit-transition: all .8s;
    transition: all .8s; }
  body .calculator-box table {
    border: none; }
  body .number {
    float: left;
    width: 35px;
    height: 35px;
    border: 3px white solid;
    border-radius: 100%;
    margin-top: -7px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    font: 22px Verdana, sans-serif;
    background: #2698b5; }
  body .clear:before, body .clear:after {
    display: table;
    content: "";
    color: white; }
  body .clear:after {
    clear: both; }
  body input {
    border-radius: 3px;
    font-family: inherit; }
  body .zakaz .modal-footer {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: none; }
  body .kvartirnyy-pereezd-main .how-much-description .paragraph {
    padding-top: 30px; }
  body .kvartirnyy-pereezd-main .h-hint {
    color: #00b5ff; }
  body .kvartirnyy-pereezd-main .professional-relocation .paragraph {
    padding: 0; }
  body .kvartirnyy-pereezd-main .person-page .person-page-price {
    height: 450px; }
    body .kvartirnyy-pereezd-main .person-page .person-page-price .back-office {
      left: 50%;
      bottom: -60px;
      margin-left: -180px; }
  body .kvartirnyy-pereezd-main .person-page .person-page-call .man {
    top: -218px; }

/*# sourceMappingURL=style.css.map */
