@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

$main-blue: #00b5ff;
$middle-blue: #1f78a0;
$middle-dark-blue: #227aa2;
$dark-blue: #21759b;
$ginger: #ff6c09;
$light-gray: #e2e2e2;
$top-header-gradient: #50b0ff;
$bottom-header-gradient: #80a1ff;
$table-border-color: #55CEFF;
$number-color: #2698b5;


%transition500ms {
  transition: all .5s;
}

%blue-gradient {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .1;
  background: linear-gradient(to top, $top-header-gradient 0%,$bottom-header-gradient 100%);
}

%black-gradient {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, #232733 0%, #21242c 50%, #202024 100%);
}

%main-button-hover {
  background-color: #18ceff;
}

%submit-button {
  padding: 12px 24px;
  background-color: $main-blue;
  color: #fff;
  border: none;
  border-bottom: 3px solid $middle-blue;
  @extend %transition500ms;
}

%main-button {
  position: absolute;
  margin-left: 50%;
  @extend %submit-button;
  @extend %transition500ms;
}

%reset {
  padding: 0;
  border: 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  @extend %transition500ms;
}

%sub-nav-link-12px {
  font-size: .75rem;
  color: $main-blue;
  background-color: #fff;
}

%podrobno {
  font-size: .875rem;
  color: $main-blue;
  background-color: transparent;
  border: 0;
}

%sub-nav-link-12px-hover {
  background-color: $light-gray;
}

%blue-ancor {
  color: $main-blue;
}

%blue-text {
  color: $main-blue;
  font-size: 1.125rem;
  font-weight: 700;
}

%shadow-block1 {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

%font-size36 {
  font-size: 2.25rem;
}

%font-size24 {
  font-size: 1.5rem;
}

%font-size18 {
  font-size: 1.125rem;
}

%font-size14 {
  font-size: .875rem;
}

%font-size13 {
  font-size: .8125rem;
}

%_controls-v1 {
  height: 70px;
  top: 115px;
  margin: 0;
  transition: all .2s;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;

  .__header {
    padding: 0;

    .navbar {
      padding: 0;
      margin-right: 0;

      .__nav {
        padding-right: 0;
      }

      ._24-hours {
        height: 36px;
        margin-right: 5px;
      }

      .burger-menu {
        padding: 0;
        border-color: transparent;
        outline: none;

        img {
          padding-top: 8px;
          @extend %transition500ms;
        }

        img:hover {
          opacity: .7;
        }
      }

      #main-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 73px;
        z-index: 2;

        .nav-item {
          background-color: $main-blue;
          @extend %transition500ms;

          .nav-link {
            color: #fff;
          }
        }

        .nav-item:hover {
          background-color: $dark-blue;
        }

        .services-menu {
          @extend %reset;
        }

        #services-menu {
          .nav-link {
            color: $ginger;
            background-color: #fff;
          }

          .nav-link:hover {
            @extend %sub-nav-link-12px-hover;
          }

          .relocation {
            @extend %reset;
          }
          #relocation {
            .nav-link {
              @extend %sub-nav-link-12px;
            }
            .nav-link:hover {
              @extend %sub-nav-link-12px-hover;
            }
          }

          .loaders {
            @extend %reset;
          }
          #loaders {
            .nav-link {
              @extend %sub-nav-link-12px;
            }
            .nav-link:hover {
              @extend %sub-nav-link-12px-hover;
            }
          }

          .carrier {
            @extend %reset;
          }
          #carrier {
            .nav-link {
              @extend %sub-nav-link-12px;
            }
            .nav-link:hover {
              @extend %sub-nav-link-12px-hover;
            }
          }

          .rigging {
            @extend %reset;
          }
          #rigging {
            .nav-link {
              @extend %sub-nav-link-12px;
            }
            .nav-link:hover {
              @extend %sub-nav-link-12px-hover;
            }
          }

          .storage {
            @extend %reset;
          }
          #storage {
            .nav-link {
              @extend %sub-nav-link-12px;
            }
            .nav-link:hover {
              @extend %sub-nav-link-12px-hover;
            }
          }

          .packaging {
            @extend %reset;
          }
          #packaging {
            .nav-link {
              @extend %sub-nav-link-12px;
            }
            .nav-link:hover {
              @extend %sub-nav-link-12px-hover;
            }
          }
        }

        .reviews {
          @extend %reset;
        }

        #reviews {
          .nav-link {
            color: $ginger;
            background-color: #fff;
          }
        }
      }
    }
  }

  .__footer {
    .top-footer {
      height: 505px;
      position: relative;

      .gradient {
        @extend %blue-gradient;
      }

      .request-call {
        top: 330px;
        left: -94px;
      }

      .elephant {
        position: absolute;
        z-index: -1;
        margin-left: 50%;
        left: -178.5px;
        top: 95px;
      }

      .amount-shipping {
        text-align: center;
        @extend %font-size18;
        font-weight: 800;
        padding-top: 30px;

        .blue-text {
          color: $middle-dark-blue;
        }
      }

      .enjoy {
        text-align: center;
        margin-top: 335px;
      }

      .social {
        width: 265px;
        margin-top: 13px;

        .col {
          padding: 0;
          text-align: center;
          @extend %transition500ms;
        }

        .col:hover {
          opacity: .8;
        }
      }
    }

    .bottom-footer {
      position: relative;
      .gradient {
        @extend %black-gradient;
      }
      .container {
        .row {
          a {
            color: #fff;
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }

        .footer-pages {
          padding-top: 30px;
          padding-bottom: 20px;

          a {
            @extend %font-size18;
          }
        }

        .footer-documents {
          padding-bottom: 10px;
          a {
            text-decoration: underline;
            @extend %font-size14;
          }

          .bottom-footer-phone {
            text-decoration: none;
            @extend %font-size24;
          }
        }
      }
    }
  }

  //GLOBAL.........................................................................................................
  a {
    @extend %blue-ancor;
  }

  a:hover {
    @extend %blue-ancor;
  }

  .header-main-theme {
    height: 505px;
    position: relative;
    padding-top: 15px;

    & >img {
      position: absolute;
      z-index: -1;
    }
    .sofa, .wall-picture {
      bottom: 0;
      left:50%;
      margin-left:-158.5px;
      z-index: -3;
    }
    .man {
      bottom: 0;
      left:50%;
      margin-left:-105.5px;
    }
    .left-bush {
      margin: auto;
      top: 115px;
      left: 0;
    }
    .right-bush {
      margin: auto;
      top: -10px;
      right: 0;
    }

    .gradient {
      @extend %blue-gradient;
    }

    .phone {
      @extend %font-size14;
      margin-left: 15px;
      color: #000;
    }

    .phone:hover {
      text-decoration: none;
      color: #000;
    }

    .navbar {
      width: 150px;
    }

    .current-city {
      @extend %reset;

      .nav-link {
        padding: 0 0 10px 10px;
        @extend %font-size14;
        display: inline-block;
        color: $main-blue;
        margin-right: 5px;
      }

      img {
        display: inline-block;
      }
    }

    #current-city {
      position: absolute;
      top: 33px;
      width: 150px;
      z-index: 1;

      .nav-link {
        color: $main-blue;
        background-color: #fff;
        @extend %font-size14;
        padding-left: 10px;
      }

      .nav-link:hover {
        text-decoration: underline;
      }
    }

    h1 {
      text-align: center;
      color: $middle-blue;
      line-height: 1;
      font-weight: 600;
      margin-top: 15px;

    }
    .urgent-call {
      text-align: center;
      margin-top: 15px;
      @extend %font-size18;
      font-weight: 400;
    }

    .request-call {
      margin: 0 auto;
      display: block;
      position: initial;
      margin-top: 35px;
    }
  }

  h5 {
    @extend %blue-text;
  }

  ._header-3 {
    @extend %font-size36;
    margin-top: 50px;
  }
  ._header-6 {
    @extend %font-size24;
    margin-top: 20px;
  }

  .important {
    color: $dark-blue;
  }

  .important-text-blue1 {
    color: $dark-blue;
    @extend %font-size24;
  }

  .red-bold {
    color: #ff0000;
    font-weight: 600;
  }

  .main-blue-bold {
    color: $main-blue;
    font-weight: 600;
  }

  .big-red {
    color: #ff0000;
    font-weight: 600;
    @extend %font-size36;
  }


  .wrap-benefits {

    .benefit {
      margin-top: 25px;
      max-width: 390px;

      .h-hint {
        font-size: 1.25rem;
        font-weight: 800;
        margin: 20px 0;
      }

      .blue-ancor {
        font-weight: 700;
      }

      img {
        height: 125px;
        margin-top: 15px;
      }
    }
  }

  .js-long-text {

      .show-all {
        max-height: none;
      }

    .js-podrobno {
      @extend %podrobno;
      margin-top: 5px;
      margin-bottom: 5px;
      outline: none;
    }
  }

  .paragraph {
    padding: 50px 20px 0;
    margin-bottom: 0;
    max-height: 290px;
    overflow: hidden;
  }

  .bd-example {
    margin-top: 25px;

    .carousel {
      .carousel-inner {
        img {
          max-width: 250px;
        }

        .carousel-caption {
          padding: 20px;
          color: #000;
          position: relative;
          right: auto;
          bottom: auto;
          left: auto;
          display: block !important;
        }
      }

      ._carousel-control {
        top: 45px;
        bottom: auto;
        width: 100px;
        opacity: 1;
      }

      ._carousel-control:hover {
        opacity: .7;
      }
    }
  }

  .send-button {
    @extend %submit-button;
  }
  .send-button:hover {
    @extend %main-button-hover;
    color: #fff;
  }

  .request-call {
    @extend %main-button;
  }

  .request-call:hover {
    @extend %main-button-hover;
  }

  .discount-block {
    padding-bottom: 35px;
    height: auto;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    margin: 90px 15px 0 15px;
    width: auto;

    ._header-6 {
      margin-top: 80px;
    }

    .rullon {
      position: absolute;
      left: 0;
      right: 0;
      top: -85px;
    }

    .request-call {
      position: relative;
      top: auto;
      left: auto;
    }
  }

  .additional-info2 {
    @extend %font-size18;
  }

  .offer {
    margin: 0 auto;
    padding: 35px 0;
    max-width: 320px;

    @extend %shadow-block1;

    .offer-content {
      padding: 20px;

      .paragraph {
        padding: 0;
      }

      .important-text-blue1 {
        text-align: center;
      }
    }
  }

  .offer, .video {
    h5 {
      color: #000;
      text-align: center;
    }

    img {
      max-height: 120px;
    }

    .gray-price {
      color: #a1a1a1;
      @extend %font-size18;
    }

    .carousel-indicators {
      top: 245px;
    }

    .important-text-blue1 {
      margin-bottom: 20px;
    }

    .request-call {
      position: relative;
    }
  }

  .big-price {
    @extend %font-size36;
  }

  .additional-info1 {
    @extend %font-size14;
    font-style: italic;
    margin-top: 20px;
  }

  .video {
    margin-top: 35px;
    margin-bottom: 35px;

    .carousel {
      box-shadow: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    .carousel-indicators {
      top: 355px;
    }

    ._header-3 {
      margin-bottom: 15px;
    }

    .paragraph {
      padding: 10px 0 0;

    }

    .modal-body {
      height: 350px;
    }

    .preview {
      position: relative;
      margin-bottom: 55px;

      .preview-picture {
        max-height: none;
        max-width: none !important;
        height: 205px;
        width: 330px;
      }

      .request-call {
        padding: 0;
        background-color: transparent;
        border-bottom: none;
        cursor: pointer;
        height: 64px;
        width: 64px;
        position: absolute;
      }
    }

  .author {
    @extend %font-size18;
    font-weight: 600;
    padding-left: 4%;
  }

  .send-button {
    color: #fff;
    cursor: pointer;
  }

  .send-button:hover {
    color: #fff;
  }
}

  .person-page {
    position: relative;

    .person-page-price {
      height: 380px;
      position: relative;

      .left-bush {
        top: 95px;
      }

      .right-bush {
        top: 40px;
      }

      .wall-picture {
        top: 30px;
        margin-left: -113.5px;
      }

      .sofa {
        margin-left: -177px;
      }
    }

    .person-page-call {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      margin: -80px 10px 10px;
      background-color: #fff;
      padding: 25px;
      border-radius: 5px;
      @extend %shadow-block1;

      .man {
        position: absolute;
        right:0;
        left:0;
        bottom: 100%;
      }

      ._header-6 {
        margin-top: 0;
      }

      .additional-info2 {
        a {
          @extend %font-size24;
        }

        a:hover {
          text-decoration: none;
          color: #ff0000;
        }
      }
    }
  }

  table {
    border: 1px solid $table-border-color;
    font-size: 12px;
    color: black;
    line-height: 2;
    margin: 0 0 2px;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;

    td {
      text-align: center;
      padding: 2px 5px 0 5px;
      border: 1px solid $table-border-color;
      height: 18px;
    }

    .tariff-title {
      background-color: $main-blue;
      height: 30px;
    }
  }

  .calculator-box {
    #wrapper {
      overflow: hidden;
      width: 100%;
    }
    .calculator {
      .col {
        position: relative;
        float: left;
        margin: 0;
        display: block;
      }

      .col1 {
        width: 100%;
        margin-right: 47px;
        border: solid 1px $main-blue;
        font: 12px Verdana, sans-serif;
        box-sizing: border-box;
      }

      .col2 {
        width: 100%;
        border: solid 1px #00b5ff;
        font: 12px Verdana, sans-serif;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        a {
          color: #FFF;
        }
      }

      .col3 {
        width: 100%;
        border: solid 1px #00b5ff;
        font: 12px Verdana, sans-serif;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        .titol {
          margin-bottom: 11px;
        }
      }

      .col5 {
        width: 100%;
        border: solid 1px #00b5ff;
        font: 12px Verdana, sans-serif;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

      }
    }
    .titol {
      font-size: 18px;
      line-height: 22px;
      padding-top: 10px;
      margin: 0 0 17px;
      color: white;
      background: $main-blue;
      width: 100%;
      height: 44px;
    }

    label {
      display: block;
      margin: 0 0 12px;
      margin-right: 0;
      margin-left: 0;

      b {
        margin-right: 4px;
        color: #333333;
      }
    }

    select {
      border: 1px solid #ccc;
      border-radius: 3px;
      font-family: inherit;
      padding: 6px;
    }

    .avto-cont {
      position: absolute;
      left: 480px;
      top: 50px;
    }

    .inp-incr {
      margin-right: 20px;
      position: relative;
      display: inline-block;

      .up {
        border: 0;
        display: block;
        width: 13px;
        height: 13px;
        position: absolute;
        right: -20px;
        background: url('/images/calc/inp-arrs.gif') no-repeat 0% 0%;
        background-position: -13px -13px;
        top: 0;

        &:hover {
          background-position: -13px 0;
        }
      }

      .down {
        top: 15px;
        border: 0;
        display: block;
        width: 13px;
        height: 13px;
        position: absolute;
        right: -20px;
        background: url('/images/calc/inp-arrs.gif') no-repeat 0% 0%;
        background-position: 0 -13px;

        &:hover {
          background-position: 0 0;
        }
      }
    }

    .inp-txt {
      height: 26px;
      padding: 0 10px 0 10px;
      line-height: 26px;
      border: 1px solid #c3c4c4;
      color: #717171;
      background-color: #fff;
      -o-box-shadow: 2px 3px 3px rgba(0,0,0,0.07) inset,2px 3px 0px rgba(0,0,0,0.05);
      -moz-box-shadow: 2px 3px 3px rgba(0,0,0,0.07) inset,2px 3px 0px rgba(0,0,0,0.05);
      -webkit-box-shadow: 2px 3px 3px rgba(0,0,0,0.07) inset,2px 3px 0px rgba(0,0,0,0.05);
      box-shadow: 2px 3px 3px rgba(0,0,0,0.07) inset,2px 3px 0px rgba(0,0,0,0.05);
      outline: none;
      vertical-align: middle;
    }

    div {
      padding: 0;
    }

    .big-price {
      color: #272727;
      font: 24px/24px Tahoma, sans-serif !important;
      margin: 0 0 10px;
    }

    p {
      font-family: arial;
      font-size: 13px;
      padding: 0;
      line-height: 18px;
      color: #272727;
      margin: 0 5px 10px 0;
    }

    td {
      font-weight: normal;
      text-align: left;
      border: none;
    }

    a:hover {
      cursor: pointer;
    }

    #man_count {
      transition: all .8s;
    }

    table {
      border: none;
    }
  }

  .number {
    float: left;
    width: 35px;
    height: 35px;
    border: 3px white solid;
    border-radius: 100%;
    margin-top: -7px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    font: 22px Verdana, sans-serif;
    background: $number-color;
  }

  .clear:before {
    display: table;
    content: "";
    color: white;
  }

  .clear:after {
    @extend .clear:before;
    clear: both;
  }

  input {
    border-radius: 3px;
    font-family: inherit;
  }

  .zakaz {
    .modal-footer {
      justify-content: flex-start;
      border: none;
    }
  }

  .professional-relocation {
    .paragraph {
      padding: 0;
    }
  }

  .person-page {
    .person-page-price {
      height: 450px;

      .back-office {
        left: 50%;
        bottom: -60px;
        margin-left: -180px;
      }
    }

    .person-page-call {

      .double-quotes {
        top: 30%;
      }

      .request-call {
        position: relative;
        margin: 15px;
      }
    }

  }

  .contacts {
    .map {
      margin-top: 15px;

      .caption-text {
        margin-top: 15px;
        font-style: italic;

        a {
          font-style: normal;
        }
      }

      img {
        max-width: 100%;
      }
    }
  }

  .marker {
    li {
      list-style: none;
      background: url('/images/arr_1.png') left 6px no-repeat;
      padding: 0 0 0 20px;
    }
  }

  .cars {
    .car-description {
      max-width: 250px;
    }
  }

  .kvartirnyy-pereezd-main {

    .how-much-description {
      .paragraph {
        padding-top: 30px;
      }
    }

    .h-hint {
      color: $main-blue;
    }

    ._carousel-control {
      height: 70px;
      top: 145px;
      margin-top: 0 !important;
    }
  }

  .carousel {
    .carousel-indicators {
      bottom: auto;
      flex-wrap: wrap;

      li {
        bottom: auto;
        width: 8px;
        height: 8px;
        margin-right: 4px;
        margin-left: 4px;
        border-radius: 50%;
        background-color: #808080;
      }

      .active {
        background-color: $main-blue;
      }
    }
    ._carousel-control {
      width: 100px;
      opacity: 1;
    }
  }

  .wrap-infographics {
    position: relative;
    margin-bottom: 35px;

    .ribbon {
      position: absolute;
    }

    .left-ribbon {
      left: 0;
      bottom: 14%;
    }

    .right-ribbon {
      right: 0;
      top: 5%;
    }

    .infographic {

      .h-infographic {
        font-weight: 300;
        @extend %font-size24;

        .important {
          font-weight: 600;
          @extend %font-size36;
        }
      }

      .b-infographic {
        font-weight: 500;
        @extend %font-size18;
      }
    }
  }

  .client-reviews {

    .carousel-container {
      position: relative;
      width: 100%;

      .modal-dialog {
        max-width: max-content;
        width: 100%;

        .review-full-img {
          img {
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
    .carousel-inner {
      img {
        border: 2px solid #cfcfcf;
        max-height: 300px;
        margin: 0 auto;
        cursor: pointer;
      }
    }

    .carousel-indicators {
      bottom: 0;
      max-width: 150px;
      position: initial;
      margin-top: 10px;
    }

    .carousel {
      position: initial;

      ._carousel-control {
        margin-top: -122px;
      }
    }
  }

  #recommendationCaption1 {
    .carousel-item {
      h5 {
        color: #000;
      }

      img {
        max-height: 175px;
      }

      .transportation-parameters {
        .h-param {
          font-weight: 600;
        }

        .b-param {
          @extend %font-size14;
        }
      }
    }
  }

  .stages {
    @extend %shadow-block1;
    padding-top: 75px;
  }

  #partners {
    .carousel-indicators {
      max-width: none;
    }

    ._carousel-control {
      @extend %_controls-v1;
      top: 55px;
    }

    ._carousel-control:hover {
      opacity: .7;
    }
  }

  .recommendation {
    #recom-reviews {

      ._carousel-control {
        @extend %_controls-v1;
      }

      ._carousel-control:hover {
        opacity: .7;
      }

      .carousel-caption {
        position: relative;
        color: #000;
        right: auto;
        left: auto;
        padding-bottom: 0;

        p {
          margin-bottom: 0;
        }
      }
    }
  }


  .wrap-range-of-services {

    .range-of-services {
      padding: 10px;

      .check-mark {
        margin-right: 20px;
      }
    }
  }

  .wrap-kv-gorod {
    .red-bold {
      @extend %font-size24;
    }
  }

  .check-mark>img {
    height: 30px !important;
  }

  .vsevologsk, .gatchina, .kolpino,
  .krasnoe-selo, .lomonosov, .pavlovsk,
  .petergof, .pushkin, .sestroreck {
     ._call-to-action {
       height: auto;
     }
  }

  .big-red:hover {
    text-decoration: none;
    color: #ff0000;
  }

  ul {
    list-style-type: none;
  }

  ._15proc {
    height: 75px;
  }

  .skudki-na-vse {
    height: 213px;
  }

  .packing-material {
    padding: 0;
    max-width: 232px;
    border-top: 2px solid $main-blue;

    img {
      height: 220px;

    }

    .marker {
      @extend %font-size13;
    }
  }

  .reference, .individual_reference {
    .carousel {
      ._carousel-control {
        margin-top: auto;
      }
    }
  }

  .video_reference {
    .carousel-indicators {
      position: relative;
      top: auto;
    }
  }

  iframe {
    max-width: 100% !important;
  }

  .minSizeTable {
    font-size: 10px;
  }

  img {
    opacity: 1;
    transition: opacity 0.3s;
  }

  img[data-src] {
    opacity: 0;
  }

  .mainBlueColor {
    color: $main-blue;
  }
}




